<p-card>
  <div class="flex justify-content-center align-items-center mb-3">
    <i class="pi pi-user m-2" style="font-size: 2.5rem"></i>
    <h1 class="text-xl">Olvidé mi Contraseña</h1>
  </div>
  <form [formGroup]="forgotPasswordForm">
    <div class="flex aling-items-center justify-content-center">
      <p-floatLabel>
        <input
          id="email"
          formControlName="email"
          type="email"
          pInputText
          class="w-full"
        />
        <label for="email">Correo</label>
      </p-floatLabel>
    </div>
    <p-divider></p-divider>
    <div
      class="mt-2 flex flex-column align-items-center justify-content-center"
    >
      <div class="mb-4">
        <shared-button
          type="submit"
          label="Enviar Contraseña"
          icon="pi pi-arrow-up"
          (click)="recoveryPassword()"
          color="info"
          [rounded]="true"
          [outlined]="true"
          [disabled]="forgotPasswordForm.invalid"
        ></shared-button>
      </div>
      <shared-button
        label=""
        icon="pi pi-arrow-left"
        (click)="this._router.navigate(['/auth/login'])"
        color="help"
        [rounded]="true"
        [outlined]="true"
      ></shared-button>
    </div>
  </form>
</p-card>

<p-toast
  [breakpoints]="{ '920px': { width: '80%', right: '20', left: '20' } }"
/>
