<h1 class="text-center text-teal-500">Servicios {{title}}</h1>
<form class="grid mt-4">
  <div class="col">
    <div class="flex flex-wrap align-items-center justify-content-center gap-4">
      <p-floatLabel>
        <input id="username" type="text" pInputText />
        <label for="username">Cédula</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="username" type="text" pInputText />
        <label for="username">Paciente</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="username" type="text" pInputText />
        <label for="username">Número de Servicios</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="username" type="text" pInputText />
        <label for="username">Servicios Realizados</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="username" type="number" pInputText />
        <label for="username">Valor Unitario</label>
      </p-floatLabel>
      <p-floatLabel>
        <input id="username" type="number" pInputText />
        <label for="username">Valor Total</label>
      </p-floatLabel>
    </div>
    <div class="flex align-items-center justify-content-center mt-4">
      <shared-button label="Guardar Servicio" icon="pi pi-plus" color="info" />
    </div>
  </div>
</form>
